body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
}
.header{
    background-color: gray;
}
.barra-superior{
    display: flex;
    align-items: center;
    height: 100px;

}
.titulo-principal{
    width: 50%;
    color: white;
}
.contenedor-menu{
    width: 50%;
}
.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.menu-principal__item{
    font-size: 20px;
    text-decoration: underline;
    color: thistle;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner__titulo{
    position: absolute;
    color: white;
}
.services{
    font-family: Helvetica;
    background-color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
}


.servicios__contenedor{
    padding: 3%;
    /* border-style: dotted;
    border-color: grey;
    border-width: 2px; */ 
}


.TituloServicio{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    background-color: gainsboro;
    text-align: center;
    border:rgb(177, 174, 174) 2px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}
